$main-color-1: #C85250; //color for sub headline, category, and nev
$main-color-2: black; //color for main text
$main-opacity: 50%; //opacity for hovering nev and date
//--vh: expression(window.innerHeight / 100);
$sans-serif: 'Josefin Sans', Arial, sans-serif;
$serif: 'Josefin Slab', serif;

body{
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 18px);
  //height: 100vh;
  //height: calc(var(--vh,1vh)*100); //to deal with page overflow when using 100vh
}

@media screen and (max-width: 767px) {
  body{
    height: calc(100vh - 19px);
  }
}

footer {
  min-height: 70px;
  margin-top: auto;
}

header {
  min-height: 40px;
}

.main {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.page-title {
  text-align: center;
}

.in-page-content {
  margin: auto;
  font-size: 20px;
  padding-top: 10px;
}

.about-content {
  max-width: 80%;
  margin: auto;
}

hr {
  display: block;
  margin: 0;
  color: $main-color-1;
  height: 1px;
  opacity: $main-opacity;
}

.info-text{
  font-family: $sans-serif;
  font-size: 15px;
  color: $main-color-1;
  opacity: $main-opacity;
  font-style: italic;
}

a {
  text-decoration: none;
  color: $main-color-1;
}

a:hover, a:active {
  opacity: $main-opacity;
  text-decoration: underline;
}
