@import '../variables';

footer{
  min-height: 8rem;
  display: flex;
  align-items: center;
  background-color: $main-color-1-opacified;
  a {
    text-decoration: none;
    color: $main-color-2;
  }

  .row{
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .left{
    padding-left: 2rem;
  }

  .right{
    padding-right: 2rem;
  }

  .copyright-text {
    font-size: 1.1rem;
    font-family: $serif;
  }

  .social-icons-container {
    display: flex;
    flex-flow: row wrap;
  }

  .social-icons
  {
    list-style:none;
    font-size: 1.8rem;
  }

  .social-icons li
  {
    display:inline-block;
  }

  .social-icons ul {
    padding: 0;
  }

  .fa {
    padding: 1rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: $main-opacity;
  }

  @media screen and (max-width: 768px) {
    .row{
      flex-direction: column;
      margin-right: 0;
    }

    .social-icons-container ul {
      margin: 0;
      padding: 0;
    }

    .left{
      padding-left: 0;
    }
  
    .right{
      padding-right: 0;
    }
  }

  @media screen and (max-width: 576px) {
    .copyright-text {
      font-size: 0.8rem;
    }
    .social-icons
    {
      font-size: 1.6rem;
    }
  }
}