@import '../variables';

header{
  font-size: 1.2rem;
  font-family: $sans-serif;
  min-height: 5rem;
  display: flex;
  align-items: center;
  background-color: $main-color-1;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 5;

  a {
    text-decoration: none;
    color: $main-color-2;
  }

  .sidebar-icon {
    color: $main-color-2;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left{
      width: 35%;
    }

    .right{
      width: 20%;
      .header-about{
        text-align: center;
      }
    }

    .menu-container{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    ul {
      list-style-type: none;
      margin: 0;
      width: 100%;
    }

    li{
      display:inline-block;
      margin-left: auto;
      margin-right: auto;
      min-width: 4rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 576px) {
    font-size: 1rem;
    .row {
      .left{
        width: 70%;
      }

      .right{
        width: 30%;
      }
    }
  }
}
