<footer>

    <div class="row">

      <div class="column left">
        <div class="copyright-text">
        <span>Copyright &copy; 2021 - <span id='currentYear'></span> Zhang Chi.</span>
        <span>All rights reserved.</span>
        </div>
      </div>

      <div class="column right">
        <div class="social-icons-container">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100040018847598"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/chich.iiii/"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/chi-zhang-7b3a49219/"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="github" href="https://github.com/zcmcxm"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      var d = new Date();
      document.getElementById('currentYear').innerHTML = d.getFullYear();
    </script>

</footer>
