<header>
  <div class="row">
    <div class="column left">
      <ul class="menu-container">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/post/' | relative_url }}">Post</a></li>
        <li><a href="{{ '/gallery/' | relative_url }}">Gallery</a></li>
      </ul>
    </div>
    <div class="column right">
      <!-- <div class="header-about">
        <a href="{{ '/#about' | relative_url }}">About</a>
      </div> -->
    </div>
  </div>
</header>
<script src="{{ site.baseurl }}/assets/js/header-nav.js"></script>
