@import '../variables';

.post {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
.post-title {
  color: $main-color-2;
  font-size: 32px;
  text-align: left;
}

.post-content {
  margin-top: 30px;
  color: $main-color-2;
  font-size: 20px;

}

.info-text {
  text-align: left;
  opacity: $main-opacity
}

.signature {
  text-align: right;
}
.signature .name {
  padding-right: 80px;
}
