.gallery-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  width: auto;
  justify-content: space-around;
}

.gallery-item {
  //border: solid 3px rgba(255,3,62,.1);
  align-items: center;
}

.gallery-item img {
  max-width: 400px;
  max-height: 50vh;
}

.gallery-item .info-text {
  text-align: center;
}
