* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

i {
  pointer-events: none;
}

body {
  padding: 3rem 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(18, 107, 174, 0.7)), color-stop(20%, rgba(65, 174, 60, 0.7)), color-stop(40%, rgba(254, 209, 16, 0.7)), color-stop(60%, rgba(249, 125, 28, 0.7)), color-stop(80%, rgba(237, 72, 69, 0.7)));
  background: linear-gradient(to right, rgba(18, 107, 174, 0.7) 20%, rgba(65, 174, 60, 0.7) 20% 40%, rgba(254, 209, 16, 0.7) 40% 60%, rgba(249, 125, 28, 0.7) 60% 80%, rgba(237, 72, 69, 0.7) 80%);
  text-align: center;
}

header {
  padding: 30px;
  width: auto;
  font-size: 40px;
  color: #222;
}

container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  padding-bottom: 1rem;
}

form input {
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 14px 14px;
  width: 620px;
  font-size: 16px;
}

form input:focus {
  border-color: #222;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

@media screen and (max-width: 850px) {
  form input {
    width: 75vw;
    margin-bottom: 0.8rem;
  }
}

button {
  border: none;
  background-color: #222;
  color: #fff;
  padding: 14px 14px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: #222;
  opacity: 70%;
  color: #fff;
}

div.to-do-list {
  margin: 1rem 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 0;
}

section div.todo-element {
  background-color: #222;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  margin: 0.3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section div.todo-element .todo-text {
  display: inline-block;
  width: 75%;
  text-align: center;
}

section div.todo-element .check {
  display: inline-block;
  width: 12%;
}

section div.todo-element .trash {
  display: inline-block;
  width: 13%;
  margin-right: 0.8rem;
}

section div.done {
  opacity: 70%;
  text-decoration: line-through;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  opacity: 70%;
  font-size: 12px;
}

@-webkit-keyframes emerge {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes emerge {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes disappear {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */