<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <title>ZC | {{page.title}}</title>
</head>
<body>

  <!-- {% include sidebar.html %} -->
  
  {% if page.home %}

    <div class="main">
      {% include sidebar.html %}
      {{content}}
    </div>

  {% else %}

    {% include header.html %}
    <div class="main with-header">
      {% include sidebar.html %}
      {{content}}
    </div>

  {% endif %}

  {% include footer.html %}

</body>
</html>
